.portfolio {
  display: flex;
  flex-direction: column;
  margin: 80px 140px;
  padding-bottom: 80px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2) inset;
  backdrop-filter: blur(10px);
}
.portfolio h1 {
  font-size: 48px;
}
.portfolioContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.portfolioItem {
  position: relative;
  width: 280px;
  height: 340px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 50px;
  z-index: 1;
  border: 1px solid rgb(68, 68, 68);
  background: none;
  transition-delay: 0.8s;
  overflow: hidden;
}
.portfolioItem:hover {
  color: white;
}
.portfolioItem::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 96, 8, 0.8);
  width: 100%;
  height: 0%;
  z-index: 2;
  transition: 1s;
}
.portfolioItem:hover::before,
.portfolioImageContent:hover {
  height: 100%;
}
.portfolioItem:hover .portfolioImageContent {
  display: flex;
  transition: 0.8s;
}
.portfolioImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.portfolioImageContent {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.portfolioImageContent h2 {
  font-size: 28px;
}
.portfolioImageContent {
  font-size: 16px;
  text-align: center;
}
.linkIcons {
  display: flex;
  flex-direction: row;
}
.linkIcon {
  font-size: 25px;
  margin: 10px;
  color: white;
}
.linkIcon:hover {
  cursor: pointer;
  color: rgb(6, 186, 9);
}
@media screen and (max-width: 1660px) {
  .portfolioItem {
    width: 300px;
  }
  .portfolioContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}
@media screen and (max-width: 1360px) {
  .portfolioItem {
    width: 420px;
  }
  .portfolioContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 1300px) {
  .portfolioItem {
    width: 420px;
    height: 340px;
  }
}
@media screen and (max-width: 1245px) {
  .portfolioItem {
    width: 380px;
  }
}
@media screen and (max-width: 1170px) {
  .portfolioItem {
    width: 350px;
  }
}
@media screen and (max-width: 1100px) {
  .portfolioItem {
    width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio {
    margin: 80px 100px;
  }
  .portfolioItem {
    width: 290px;
  }
}
@media screen and (max-width: 920px) {
  .portfolioContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .portfolioItem {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  .portfolio {
    margin: 80px 80px;
  }
  .portfolioItem {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .portfolio {
    margin: 80px 40px;
  }
  .portfolioImageContent {
    display: flex;
  }
  .portfolioItem::before,
  .portfolioImageContent {
    height: 100%;
    color: white;
  }
}
