.Home {
  height: 400px;
  display: flex;
  flex-direction: row;
  padding: 200px 140px;
  align-items: flex-end;
}
.homeText h3 {
  font-size: 42px;
  line-height: 20px;
  position: relative;
  z-index: 2;
}
.homeText small {
  font-size: 32px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.homeText span:nth-child(2) {
  color: rgb(8, 210, 11);
}
.homeText p {
  width: 694px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
.langIcons {
  object-fit: contain;
  position: fixed;
  z-index: 0;
  top: 200px;
  right: 140px;
  width: 700px;
}
@media screen and (max-width: 1024px) {
  .langIcons {
    width: 500px;
  }
  .Home {
    padding: 200px 100px;
  }
  @media screen and (max-width: 870px) {
    .Home {
      padding: 200px 80px;
    }
  }
  @media screen and (max-width: 768px) {
    .Home {
      padding: 150px 40px;
    }
    .langIcons {
      top: 150px;
      right: 120px;
      width: 300px;
    }
    .homeText h3 {
      font-size: 32px;
      line-height: 40px;
    }
    .homeText small {
      font-size: 22px;
      font-weight: 400;
    }
    .homeText p {
      width: 100%;
      line-height: 30px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .Home {
      height: auto;
      flex-direction: column;
      padding-bottom: 40px;
      padding-top: 100px;
      align-items: center;
      position: relative;
    }
    .langIcons {
      margin-top: 20px;
      position:sticky;
      z-index: 0;
      top: 0px;
      right: 0px;
    }
  }
  @media screen and (max-width: 375px) {
    .langIcons {
      top: 600px;
      right: 40px;
    }
  }
}
