
.menuItemSmall{
  font-size: 16px;
  font-weight: 500;
  margin-left: 40px;
  padding: 2px;
  cursor: pointer;
}
.smallScreenMenus {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  right: 80px;
}
.menuItemSmall{
    padding: 10px 30px;
    margin-bottom: 0.5px;
    border-radius: 5px;
    background: rgb(12, 175, 3);
    border-bottom: 1px solid rgb(0, 162, 49);
}
.menuItemSmall:hover{
    background: rgb(7, 124, 1);
    scale: 1.1;
}